<h1><%= @restaurant.name %></h1>

<div class="container">
  <p><%= "Category: #{@restaurant.category} food" %></p>

  <p><%= "Address: #{@restaurant.address}" %></p>
  <p><%= "Phone number: #{@restaurant.phone_number}" %></p>

  <h2>Add a new review :</h2>

  <div class="container">
    <%= render '/reviews/form', review: @review %>
  </div>

  <h2>Reviews:</h2>
  <div class="container">
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item">
          <%= review.rating %>/5<br>
          <%= review.content %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "Back to \"#{@restaurant.name}\" page", restaurants_path %>
